@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>

<p>El boton consultar desplega toda la informacion desde la Base de datos .</p>
<p>Si existe un valor en los campos de busqueda al presionar consultar solo se mostara la informacion relacionada a esos criterios.</p>
<p>El boton nuevo permite la creacion de un registro.</p>
<p>Dentro del grid se puede usar los botones Edicion y eliminacion .</p>
